@charset "UTF-8";
/* CSS Document */

body {
	font-size:16px;
}

label {
	font-size:12px;
}

#result td{
	border:none;
	vertical-align:middle;
}
#conteiner {
	width:850px;
	margin:20px auto;
}
.well-white {
	background: #ffffff;
}

div#set-1 {
	width: 60px;
}

div#set-2 {
	width: 320px;
	margin-left:20px;
}

div#set-3 {
	width: 430px;
	margin-left:20px;

}

input.noinput {
	border:none;
	background-color:none;
	text-align:right;
	padding:0;
	margin:0;
	-webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
	
}

td.bordered {
	border-bottom:1px solid #d5d5d5 !important;
}

td.align-right {
	text-align:right;
}
input.bolded {
	font-weight:bold !important;
	font-size:105%;
}

input.bigsize {
	font-size:125%
}

div#chart_div {
	padding-top:20px;
}

.popover {
	font-size:12px;
	max-width: 376px;
}

